{% extends 'base.html' %}
{% block content %}
    <h1>User Listing</h1>
    <!-- <ul style="list-style-type: none;"> -->
        <!-- insert user list here -->
    <!-- </ul>
    <script>
        // user list array
        const users = ['John Doe', 'Jane Smith', 'Emily Johnson', 'Michael Brown', 'Sarah Davis'];
        const userList = document.querySelector('ul');
        userList.innerHTML = '';
        users.forEach(user => {
            const listItem = document.createElement('li');
            listItem.textContent = user;
            userList.appendChild(listItem);
        });

    </script> -->
<table border="1">
    <thead>
        <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Email</th>
            <th>Age</th>
            <th>can Vote</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.age }}</td>
            <td>{% if user.age >= 18 %}Yes{% else %}No{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}